//기존의 scss에서 사용하던 변수, 함수 분리해보기
//분리된 파일 불러오기
@import "./utils.scss";

.SassTest {
  display: flex;
  .box {
    background-color: red;
    cursor: pointer;
    transition: all 0.3s ease-in;
    // 현재 요소를 가리키는 &->box를 가르킴
    &.red {
      background-color: $red;
      //위에서 만든 사각형 square함수 재사용
      @include square(1);
    }
    &.cyan {
      background-color: $cyan;
      //위에서 만든 사각형 square함수 재사용
      @include square(1);
    }
    &.violet {
      background-color: $violet;
      //위에서 만든 사각형 square함수 재사용
      @include square(1);
    }
    //나머지 6가지 색깔 활용해서 박스 만들기

    &:hover {
      background-color: blue;
    }
  }
}
