.funcComp {
  background-color: #002c4a;
  color: #150343;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.test2 {
  background-color: aqua;
  color: red;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
